
.header {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

.header .header_content{
    width:1200px;
    margin: 0 auto;
    height: 130px;
    line-height: 130px;
    overflow: hidden;
}
.header_content .header_logo{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #FF8721;
    font-size: 18px;
    color: #fff;
    margin-right: 19px;
}
.header_content h3{
    color:#FF8721;
    display: inline-block;
    font-size: 34px;
    margin-bottom: 0;
    height: 48px;
    vertical-align: top;
}

.header_content .header_nav{
    display: inline-block;
    overflow: hidden;

    margin-bottom: 0;
    color: #333;
    vertical-align: middle;
}
.header_content .header_nav li{
    float: left;
    font-size: 20px;
    margin-left: 92px;
    font-weight: 500;
    height: 28px;
    line-height: 32px;
}
.header_content .header_nav li.active{
    border-bottom: 2px solid #FF8721;
    color: #FF8721;
}
.header_content .header_message{
    height: 19px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 72px;
    position: relative;
    background: url(../img/icon-mail.png) no-repeat;
    background-size: cover;
}
.header_content .header_num{
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #F14955;
    text-align: center;
    line-height: 14px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: -7px;
    top:-7px;
}


.main_box{
    width: 100%;
}

.main_box .main{
    width: 1200px;
    margin: 0 auto;
}

.footer_box{
    width: 100%;
}

.footer{
    width: 1200px;
    margin: 0 auto;
}


.footer ul{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.footer li{
    color: #E5E5E5;
    font-size: 16px;
    font-weight: 400;
    float: left;
    margin-right: 146px;
}


.footer li:last-child{
    margin-right: 0;
}

.footer div{
    font-weight: 400;
    font-size: 14px;
    color: #E5E5E5;
    text-align: center;
}
.icon-footer{
    vertical-align: middle;
    margin-right: 6px;
}

.common_input::-webkit-input-placeholder { 
/* WebKit browsers */ 
color:#999;
} 
.common_input:-moz-placeholder { 
/* Mozilla Firefox 4 to 18 */ 
color:#999;
} 
.common_input::-moz-placeholder { 
/* Mozilla Firefox 19+ */ 
color:#999;
} 
.common_input:-ms-input-placeholder { 
/* Internet Explorer 10+ */ 
color:#999;
}

.common_form_item{
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
}

.common_form_label{
    width: 80px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #707070;
    line-height: 22px;
    display: inline-block;
}

.common_form_error{
    font-size: 14px;
    color:#F14955;
    padding-left: 18px;
    height: 20px;
    line-height: 20px;
}

.common_input{
    width: 499px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
}

.common_input:focus{   
    outline-color: #CCCCCC;
  }



.verification-button{
    width: 499px;
    height: 60px;
    background: #F7F7F7;
    border-radius: 4px;
    line-height: 60px;
    color:#FF8721;
    text-align: center;
    cursor: pointer;
}
.verification-text{
    padding-left: 26px;
    font-size: 16px;
    display: inline-block;
}

.lock-btn{
    width: 120px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #FF8721;
    color: #FF8721;
    position: absolute;
    text-align: center;
    line-height: 38px;
    right: 12px;
    top:50%;
    margin-top: -19px;
    font-size: 16px;
    cursor: pointer;
}

.origin-btn{
    height: 60px;
    background-color: #FF8721;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.green-btn{
    height: 60px;
    background-color: #FF8721;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.origin-btn-sm{
    height: 48px;
    background-color: #7EDCFF;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.red-btn-sm{
    height: 48px;
    background-color: #F14955;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}


.mb20{
    margin-bottom: 20px;
}

.mt20{
    margin-top: 20px;
}

.pr{
    position: relative;
}

.pa{
    position: absolute;
}

.bt0{
    bottom: 0;
}

.oh{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

.dib{
    display: inline-block;
}

.margin_center{
    margin: 0 auto;
}