html,body,.container{width: 100%;height: 100%;font-size: 18px;}
.theme-color{color:#FF8721}
.fl{float: left;}
.fr{float: right;}
*{margin:0;padding:0;}
input{
    border: none;
  }
ul li{list-style: none;}
.wrapper{position: relative;background: blue;}
.indexbg{width: 100%;height: 100%;margin-top:130px;background: url(../img/index-bg.jpg) no-repeat;background-size: 100% 100%; }
/* 登录 */
.indexBox{position: relative;width: 100%;height: 1000px;background: blue;}
.indexLeft{margin-top:262px;float:left;font-size: 42px;color:#fff;letter-spacing:2.33px}
.fz-big{font-size: 50px;color:#fff;}
.loginBox{float:right;margin-top:168px;width: 480px;height: 590px;background:rgb(255, 255, 255,0.6);box-sizing: border-box;padding: 36px 42px 43px;}
.loginBox .welcome{color: #FF8721;font-size: 40px;margin-bottom: 48px;}
.login-title{overflow: hidden;width: 100%;margin-bottom: 32px;}
.icon-fg{margin:0 5px;}
.login-content p{margin-bottom: 20px;}

.login-left p{display: inline-block;}

.inputbox{width: 396px;height: 60px;line-height: 60px;font-size: 16px;padding-left: 21px;box-sizing: border-box;}
.login{width: 480px;height: 590px;background: olivedrab;position: absolute;top: 168px;right: 197px;}
.login-btn{width: 396px;height: 60px;line-height: 60px;font-size: 16px;background: #999999;color: #fff;}
.icon-bottom{text-align: left;width: 396px;overflow: hidden;}
.icon-list li{display: inline-block;vertical-align: middle;margin:0 0 0 17px;width: 40px;height: 40px}
.icon-list li img{width:100%;display: inline-block;}
/* 注册 */
.register_title{
    font-size: 22px;
    color: #333;
    font-weight: 400;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 78px;
}

.register_form{
    overflow: hidden;
}

.register_form .register_form_left{
    display: inline-block;
    width: 50%; 
    float: left;
}

.register_form .register_form_right{
    display: inline-block;
    width: 50%; 
    float: right;
}

.register_form_title{
    font-size: 18px;
    font-weight: 400;
    color: #FF8721;
    line-height: 25px;
    margin-bottom: 35px;
}

/* 抽奖 */
.choujiang-banner{margin-bottom: 36px;}
.choujiang-banner img{width: 100%;display: block;}
.choujiang-game{width: 570px;height: 697px;background: url(../img/game.png) no-repeat;background-size: 100% 100%;}
.choujiang-content{width: 1200px;height: 796px;background: #FFC15D;margin:0 auto;border-radius:10px;box-sizing: border-box;padding:36px 28px 23px;margin-bottom: 32px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;-o-box-sizing: content-box;-ms-box-sizing: content-box; }
.choujiang-content h5{color: #F14955;font-size: 20px;margin-bottom: 12px;}
.choujiang-namelist{width: 570px;height: 698px;background-color: #FFF6D9;border-radius: 21px;box-sizing: border-box;padding:29px 66px 23px 40px;}
.choujiang-namelist li{margin-bottom: 17px;}
.choujiang-rule {font-size: 16px;}
.choujiang-rule h5{font-size: 20px;margin-bottom: 36px;}
/* 抽奖弹窗 */
.fixed{position: fixed;width: 100%;height: 100%;background: rgb(0, 0, 0,0.6);z-index: 11;left: 0;top:0;}
.fixed-inner{font-size: 18px;color: #666;background: #fff;text-align: center;}
.use-up{padding:85px 71px;}
.old-user{padding:85px 151px 80px;}
.icon-close{position: absolute;width: 20px;height: 20px;top:19px;right: 19px;}
.btn{padding:16px 43px;background: #FF8721;color: #fff;}
.no-prize{padding:85px 141px 111px;}
.cel-prize{padding:85px 190px 110px;}
.prize-form{padding:85px 51px 45px;font-size: 16px;color: #999;}
.prize-form h6{font-size: 18px;color: #666;}
.prize-tips{font-size: 14px;text-align: left;}
.prize-input{margin-bottom: 20px;}
.prize-input input{width: 499px;height: 60px;border: 1px solid #ccc;padding-left: 21px;}
/* 反馈 */
.fankui-banner{margin-bottom: 36px;}
.fankui-banner img{width: 100%;display: block;}
.fankui-bread{font-size: 18px;color: #666;margin-bottom: 26px;}
.wenquan-big{font-size: 22px;}
.icon-cut{margin:0 8px;}
.fankui-breadnow{font-size: 22px;}
.fankui-list{width: 1200px;font-size: 14px;color: #333;overflow: hidden;}
.fankui-list li{border:1px solid #ccc;box-sizing: border-box;padding:24px 0 24px 31px;position: relative;overflow: hidden;margin-bottom: 24px;}
.avtar{width: 65px;height: 65px;background:orange;border-radius: 50%;margin-right: 12px;}
.fankui-img{overflow: hidden;}
.fankui-img li{width: 79px;height: 79px;background: orange;float: left;margin-right: 20px;}
.date{font-size: 14px;color: #757575;}
.fankui-answer{background: #FFEDD1;padding:20px 20px 20px 14px;position: relative;overflow: hidden;}
.icon-answer{position: absolute;right: 11px;top:11px;}
.fankui-name{color: #757575;margin-bottom: 8px;}
.fankui-tips{font-size:16px;margin-bottom: 20px;}
.fankui-message{margin-bottom: 12px;}
.fankui-img{margin-bottom: 12px;}
.answer-avtar{margin-right: 12px;}
.answer-description{margin-bottom: 12px;}

/* 搜索 */
.search-banner{margin-bottom: 36px;}
.search-bar{width: 515px;height: 60px;line-height: 60px;border-radius: 30px;border:1px solid red;position: relative;margin:-70px auto 0;}
.search-content{margin:0 auto;width: 515px;}
/* .search-bar input{width: 515px;height: 60px;line-height: 60px;padding-left: 28px;box-sizing: border-box;} */
.icon-search{width: 24px;height: 24px;vertical-align: middle;position: absolute;right: 28px;top: 20px;}
.search-banner img{width: 100%;display: block;}
.search-title{margin-bottom: 65px;}
.search-box{overflow: hidden;text-align: center;}
.search-box li{width: 78px;height: 78px;display: inline-block;}
.search-question{width: 1200px;height: 283px;border:1px solid #E5E5E5}
.search-question h6{width: 100%;height: 52px;line-height: 52px;background:#F7F7F7;font-size: 16px;text-align: center;color:#666;}
.search-question ul li ul{float: left;}
/* 搜索结果 */
.result-titleleft{height: 52px;background: #F9F9F9;line-height: 52px;padding-left: 20px;}
.result-titleright{height: 52px;background: #F9F9F9;line-height: 52px;}
.search-resultbox{width: 1200px;margin:0 auto;overflow: hidden;font-size: 16px;}
.result-left{width: 180px;background: #F7F7F7;font-size: 16px;color: #707070;font-size: 16px;line-height: 30px;padding:16px 0 139px 20px;}
.result-right{width: 968px;padding-left: 32px;}
.result-question{padding:27px 17px 17px;background: #F7F7F7;}
.result-question p{text-align: center;}
.question-inner{padding:12px 15px;background: #fff;}
.search-resultlist li{margin: 20px 0;}
.question-inner{color: #333;margin-bottom: 16px;}
.search-btnbox{text-align: center;margin-top: 10px;}
.search-btnbox li{width: 140px;height: 48px;line-height: 48px;text-align: center;color: #fff;display: inline-block;margin-right: 151px;}
.red-btn{background: #F14955;}
.ori-btn{background: #FF8721;}

/* 问卷-甄别 */
.fixed-bar{position: absolute;right: 0;bottom: 0;}
/* 问卷-正在进行 */
.wenquan-bread{font-size: 18px;margin-bottom: 32px;}
.wenquan-breadnow{font-size: 22px;}
/* 进行时1 */
.wenquaning-list1 {text-align: left;margin-right: -80px;}
.wenquaning-list1 li{width: 346px;height: 407px;background: #fff;position: relative;float: left;;margin-right: 80px;}
.wenquaning1-info{padding:34px 14px 20px;font-size: 18px;text-align: center;}
/* 进行时2 */
.wenquaning-list2 {text-align: left;}
.wenquaning-list2 li{width: 378px;height: 315px;background: #f7f7f7;position: relative;display: inline-block;margin-right: 16px;}
.icon-douh{position: absolute;left: 16px;top:21px;}
.wenquaning-right{position: absolute;top: 0;right: 0;}
.wenquaning-info{position: absolute;width: 342px;top: 77px;left: 16px;}
.num{font-size: 48px;margin-bottom: 12px;}
.wenquaning-tips{font-size: 18px;margin-bottom: 12px;}
.date-time{margin-bottom: 30px;font-size: 14px;color:#666;}
.wenquaning-btn{margin:20px auto 0;width: 177px;height: 43px;line-height: 43px;background:#FF8721;color:#fff;border-radius: 21px;text-align: center;}
/* .icon-canyu{margin-right: 14px;} */

/* 关联已有账号 */

.relationbox{
    width: 600px;
    margin: 0 auto;
    margin-top: 180px;
}

/* 忘记密码 */
.forget_box{
    width: 500px;
    margin: 0 auto;
    margin-top: 78px;
}
.forget_nav{
    margin-bottom: 32px;
}
.forget_nav a.active{
    font-size: 24px;
    color: #FF8721;
}
.forget_nav a{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    line-height: 28px;
    letter-spacing: 1px;
    text-decoration: none;
    vertical-align: middle;
}
.forget_nav a:first-child{
    padding-right: 6px;
}

.forget_nav a:last-child{
    padding-left: 6px;
    border-left: 1px solid #757575;
}

/* 修改密码成功 */
.reset_password{
    color: #FF8721;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.zixun-banner{margin-bottom: 36px;}
.zixun-banner img{width: 100%;display: block;}
.zixun-content{font-size: 16px;}
.zixun-ads{width: 352.82px;height: 150px;background: orange;float: left;margin-right: 20px;}
.zixun-info{width: 800px;float: left;}
.zixun-p1{color: #333;font-weight: bold;margin-bottom: 12px;}
.zixun-p2{margin-bottom: 6px;}
.zixun-list{overflow: hidden;}
.zixun-list li{overflow: hidden;padding:25px 0 19px;border-bottom: 1px dashed #E5E5E5;}
.share-box{float: right;}
.share-wz{float: left;}
.share-icons{float: left;}
.share-icons li{float: left;padding:0;border:none;margin-right: 13px;}

/* 验证 */
.yanzheng_box{
    width: 540px;
    margin: 0 auto;
    margin-top: 165px;
}
.set_box{
    overflow: hidden;
}
.set_box div{
    float: left;
}
.set_box .set_num{
    width: 70px;
    height: 82px;
    font-size: 16px;
    color: #707070;
}

.set_box .set_line{
    width: 121px;
    border:1px dashed #CCCCCC;
    margin-top: 20px;
}

.set_box .set_line.active{
    border-color: #FF8721;
}


.set_box .set_num.active{
    color: #FF8721;
}

.set_box .set_num_icon{
    width: 37px;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.set_box .set_num_icon.default{
    background: url(../img/set1current.png) no-repeat;
    background-size: contain;
}

.set_box .set_num_icon.default2{
    background: url(../img/set2default.png) no-repeat;
    background-size: contain;
}

.set_box .set_num_icon.current2{
    background: url(../img/set2current.png) no-repeat;
    background-size: contain;
}

.set_box .set_num_icon.default3{
    background: url(../img/set3default.png) no-repeat;
    background-size: contain;
}

.yanzheng-btn{
    width: 120px;
    height: 38px;
    line-height: 38px;
    background-color:#FF8721;
    color:#fff;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    right: 12px;
    top:50%;
    margin-top: -19px;
    cursor: pointer;
}
.yanzheng_phone{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 16px;
}

/* 活动 */
.activity-content img{width: 100%;display: block;}

/* 签到 */
.qiandao-box{width: 1200px;overflow: hidden;}
.qiandao-list{overflow: hidden;width: 500px;float: left;}
.qiandao-list li{width: 103px;height: 140px;background: gray;float: left;margin:0 18px 20px;position: relative;font-size: 16px;}
.qiandao-list li:last-child{width: 243px;height: 140px;background: gray;}
.qiandao-list li .icon-rank{width: 30px;height: 30px;position: absolute;left: 0;top:0;background: orange;text-align: center;line-height: 30px;}
.qiandao-bottom{width: 100%;height: 25px;line-height: 25px;color:#fff;text-align: center;position: absolute;bottom: 0;left: 0;background: blue;}
