html,body,.container{width: 100%;height: 100%;font-size: 18px;}
.wrapper{position: relative;background: blue;}
.indexbg{width: 100%;height: 100%;margin-top:130px;background: url(../img/index-bg.jpg) no-repeat;background-size: 100% 100%; }
/* .content{width: 100%;height: 100%;position: absolute;left: 0;top:0;background: yellowgreen;} */

/* .header{height: 130px;line-height: 130px;overflow: inherit;z-index: 3;background: pink;}
.header ul{width: 1200px;margin: 0 auto;background: yellowgreen;display: flex;justify-content:space-between;overflow: hidden;}
.header .logo{width: 60px;height: 60px;background: orange;} */

/* .footer{font-size: 14px;color:#fff;position: absolute;bottom: 20px;} */

/* .main{width: 100%;height: 100%;background: url(../img/index-bg.jpg) no-repeat;background-size: 100% 100%;} */
.login{width: 480px;height: 590px;background: olivedrab;position: absolute;top: 168px;right: 197px;}
/* 注册 */
.register_title{
    font-size: 22px;
    color: #333;
    font-weight: 400;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 78px;
}

.register_form{
    overflow: hidden;
}

.register_form .register_form_left{
    display: inline-block;
    width: 50%; 
    float: left;
}

.register_form .register_form_right{
    display: inline-block;
    width: 50%; 
    float: right;
}

.register_form_title{
    font-size: 18px;
    font-weight: 400;
    color: #FF8721;
    line-height: 25px;
    margin-bottom: 35px;
}

